@media screen and (max-width: 420px) {
	.container {
		background-color: rgba(0,0,0,.75);
		font-family: 'Source Sans Pro', sans serif;
	}
	.content {
		background-color: transparent;
    	text-align: center;
    	border-radius: 4px;
    	color: white;
	}
	#title {
		font-size: 8vh;
		text-align: center;
	}
	.textbox {
		height: 30px;
	}
	.output {
		height: 200px;
		border-style: none;
		margin-top: 30px;
	}
	.header {
		text-align: center;
	}
}

@media screen and (min-width: 1650px) and (min-height: 1000px){
    #title {
        font-size: 10vh;
        text-align: left;
    }
    .content {
        -webkit-box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
    	-moz-box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
    	box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
        background-color: rgba(0,0,0,.75);
        padding: 30px;
    	width: 1100px;
        margin: 0 auto;
        text-align: center;
    }
    .textbox {
    	height: 50px;
    }
    .output {
    	height: 500px;
    	border-style: solid;
    	margin-top: 10px;
    }

    .header {
    	text-align: left;
    }
}

@media screen and (min-width: 420px) and (max-width: 1649px) {
	.content {
    -webkit-box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
	-moz-box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
	box-shadow: 5px 5px 115px -30px rgba(0,0,0,1);
    background-color: rgba(0,0,0,.75);
    padding: 30px;
	width: 1100px;
    margin: 0 auto;
    text-align: center;
	}
	#title {
		font-size: 14vh;
		text-align: left;
	}
	.textbox {
		height: 50px;
	}
	.output {
		height: 500px;
		border-style: solid;
		margin-top: 10px;
	}

	.header {
		text-align: left;
	}

}



.container {
    font-family: 'Source Sans Pro', sans serif;
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.button {
	font-family: 'Source Sans Pro', sans serif;
	border-style: solid;
	border-color: rgba(58, 175, 58, .1);
	border-radius: 4px;
	background-color: rgba(58, 175, 58, .5);
	padding: 6px;
	color: white;
}

.button:hover {
	cursor: pointer;
	background-color: rgba(58, 175, 58, 1);
	border-color: rgba(58, 175, 58, 1);
}

.middle {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.header a {
	font-size: 7vh;
    text-decoration: none;
    color: white;

    -webkit-transition: 600ms all;
    -moz-transition: 600ms all;
    transition: 600ms all;
}

.header a:hover {
	color: rgb(58, 175, 58);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


.content {
    border-radius: 4px;
    color: white;
}

.textbox {
	font-family: 'Source Sans Pro', sans serif;
	border-radius: 4px;
	border-style: none;
	border-width: 1px;
	vertical-align: top;
	font-size: 30px;
	text-indent: 7px;
}

#borderline {
	border-right: 1px solid rgba(0,0,0,.75);
}


.horizontal-line {
	margin-bottom: 20px;
}

#tabs {
	display: table;
	table-layout: fixed;
	width: 40vh;
    -webkit-padding-start: 0px;
}

.item {
	display: table-cell;
}

.link {
	display: block;
}


#desc {
	margin: 0;
	font-size: 3vh;
}

#selectionForm {
	font-size: 4vh;
	text-align: center;
	display: inline-block;
}

#selectionForm ul {
	list-style-type: none;
	overflow: hidden;
	border-radius: 4px;
}

#selectionForm li a:hover {
	background-color: rgb(58, 175, 58);
	color: white;
}

#selectionForm li a {
	background-color: white;
	text-decoration: none;
	color: black;
	padding: 16px;
	-webkit-transition: 600ms all;
    -moz-transition: 600ms all;
    transition: 600ms all;
}

.information {
	font-size: 4vh;
	text-align: left;
}

.output {
	background-color: white;
	color: black;
	border-radius: 4px;
	width: 100%;
    border-color: rgba(0,0,0,.75);
}